#post-nav {
    width: 100%;
    display: inline-block;
    @extend %padding-small;

    p {
        @extend .meta;
        width: 100%;
    }

    a {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #previous-post {
        float: left;
        width: 100%;

        p, a {
          text-align: left;
        }
    }

    #next-post {
        float: right;
        width: 100%;

        p, a {
          text-align: right;
        }
    }
}
